<% if type=='grid' %>
<div class="grid">
  <% songs.each do |obj|%>
  <div class="grid-space">
    <div class="grid-item">
      <div class="album">
        <img class="cover" src="<%= obj.album.cover_pic_url if obj.album.cover_pic_url!=nil %>" />
		<%= link_to "", song_play_path + "?id=#{obj.id}", :method => :get, :remote => true, :class => "play" %>
        <a href="#" class="add" id="<%= obj.id %>"></a>
		<div id="my-popover" style="display:none">
		  <div class="header">
		    ...
		  </div>
		  <div class="content">
		    ...
		  </div>
		</div>
		<div class="info">
        <p class="song bold"><%= obj.title %></p>
        <p class="artist"><%= obj.artist.name %></p>
		<% count = 0 %>
		<% current_user.friends.users_listen_to(obj).each do |o| %>
			<%  count += 1 %>
		<% end %>
		<% name = current_user.friends.users_listen_to(obj)[rand(count)].name %>
        <p class="listens"><span class="icon headphones"></span><%= name %> & <%= count-1 %> others</p>
      </div>
    </div>
  </div>
  <% end %>
	<script>
	$('.album img').load(function() {
		$(this).parent().addClass('loaded');
	});
	$('a.add').popover({header: '#my-popover > .header',
	    content: '#my-popover > .content'});
	</script>
</div>
<%else%>
<ul class="list-container">
  <% songs.each do |obj|%>
  <li class="row">
    <div class="dynamic">
      <div class="song"><%= obj.title %></div>
      <div class="artist"><%= obj.artist.name %></div>
      <div class="album"><%= obj.album.name %></div>
      <div class="genre">Dubstep</div>
	  <% duration = obj.duration %>
	  <% mins = (duration/60.0).to_i %>
	  <% secs = (duration-(mins*60)).to_i %>
      <div class="duration"><%=mins%>m <%=secs%>s</div>
    </div>
    <div class="static">
      <div class="friends">
        <ul class="thumbs">
		  <% friends = current_user.friends.users_listen_to(obj) %>
		  <% count = 0 %>
		  <% friends.each do |fri| %>
		      <li><a href="/profile"><img src="<%=fri.pic_url %>" /></a></li>
			  <% count += 1%>
			  <% break if count == 4%>
		  <% end %>
        </ul>
      </div>
      <div class="actions">
        <%= link_to "", song_play_path + "?id=#{obj.id}", :method => :get, :remote => true, :class => "play" %>
        <a href="#" class="add"></a>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<%end%>