<div class="grid">
  <% songs.each do |obj|%>
  <div class="grid-space">
    <div class="grid-item">
      <div class="album">
        <img class="cover" src="<%= obj.album.cover_pic_url if obj.album.cover_pic_url!=nil %>" />
        <a href="#" class="play"></a>
        <a href="#" class="add"></a>
      </div>
      <div class="info">
        <p class="song bold"><%= obj.title %></p>
        <p class="artist"><%= obj.artist.name %></p>
		<% count = 0 %>
		<% current_user.friends.users_listen_to(obj).each do |o| %>
			<%  count += 1 %>
		<% end %>
		<% name = current_user.friends.users_listen_to(obj).first.name %>
        <p class="listens"><span class="icon headphones"></span><%= name %> & <%= count-1 %> others</p>
      </div>
    </div>
  </div>
  <% end %>
	<script>
	$('.album img').load(function() {
		$(this).parent().addClass('loaded');
	});
	</script>
</div>
