<% if !authenticated? %>
<body class="tour">
  <div class="container">
    <a class="logo_dark" href="/">Jolicloud</a>
    <section class="intro">
      <h2>Discover music the social way.</h2>
      <p>Find new artists through your friends.</p>
      <%= link_to "Connect with facebook", new_facebook_path, :class => "facebook" %>
    </section>
  </div>
  <% else %>
  <body class="app">
    <header>
      <a class="logo" href="/">Jolicloud</a>
    </header>
    <nav>
      <section id = "side_bar">
        <h3 class="lobster">apps</h3>
        <ul>
          <li class="hot active"><%= link_to content_tag(:span, nil, :class=>'icon') + "What's Hot", song_hot_songs_path, :method => :get, :remote => true %></li>
          <li class="match"><%= link_to content_tag(:span, nil, :class=>'icon') + "Taste Match", recommendation_recommended_path, :method => :get, :remote => true %></a></li>
          <li class="shuffle"><a href="#"><span class="icon"></span>Shuffle</a></li>
        </ul>
      </section>
      <section>
        <h3 class="lobster">playlists</h3>
        <ul>
          <!--
            SINA new playlist handling ALSO check JS.
            
          <li class="playlist">
            <a href="#"><span class="icon"></span>Playlist name</a>
            <span class="delete"></span>
            <a href="/DELETE_SOMETHING" class="confirm">Delete</a>
          </li>
          -->
          
          <% @playlists.each do |pl|%>
          <li class="playlist <%='queue' if pl.perm %>"><%= link_to content_tag(:span, nil, :class=>'icon') + pl.name, playlist_play_path + "?id=#{pl.id}", :method => :get, :remote => true %></li>
          <% end %>
          <li class="playlist add"><a href="#"><span class="icon"></span>Create playlist</a></li>
        </ul>
      </section>
      <section>
        <h3 class="lobster">account</h3>
        <ul>
          <li class="profile"><a href="#"><span class="icon"></span>Profile</a></li>
          <li class="settings"><a href="#"><span class="icon"></span>Settings</a></li>
          <li class="logout">
            <%= link_to content_tag(:span, nil, :class=>'icon') + "Logout", facebook_path, :method => :delete, :class => "logout" %>
          </li>
        </ul>
      </section>
    </nav>

    <div id="right-pane">
      <div id="header-right-container">
        <div id="header-right">
          <div id="player">
            <object width="250" height="40">
				<param name="movie" value="http://listen.grooveshark.com/songWidget.swf">
				<param name="wmode" value="window">
				<param name="allowScriptAccess" value="always">
				<param name="flashvars" value="hostname=cowbell.grooveshark.com&amp;widgetID=&amp;style=metal&amp;p=0">
				<embed src="http://listen.grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&amp;widgetID=&amp;style=metal&amp;p=0" allowscriptaccess="always" wmode="window">
			</object>
          </div>
          <div class="view-toggle">
            <button class="detail">detail</button>
			<button class="grid">grid</button>
          </div>
        </div>
      </div>
      
	  <!-- type can be grid or detail and content can be hot or recom or playlist if playlist content_id is the id of the playlist -->
      <section id = "song_view" type="grid" content="hot" content_id = "">
	    <%= render "song/songs", :songs => @songs, :type =>'grid' %>
      
        <!--
          SINA list-view.

        <ul class="list-container">
          <li class="row">
            <div class="dynamic">
              <div class="song">Rolling in the Deep</div>
              <div class="artist">Adele</div>
              <div class="album">Adele Album Name</div>
              <div class="genre">Dubstep</div>
              <div class="duration">4m 51s</div>
            </div>
            <div class="static">
              <div class="friends">
                <ul class="thumbs">
                  <li><a href="/profile"><img src="http://www.picgifs.com/celebrities/b/brad-pitt/celebrities-brad-pitt-973133.jpg" /></a></li>
                  <li><a href="/profile"><img src="http://www.picgifs.com/celebrities/b/brad-pitt/celebrities-brad-pitt-973133.jpg" /></a></li>
                  <li><a href="/profile"><img src="http://www.picgifs.com/celebrities/b/brad-pitt/celebrities-brad-pitt-973133.jpg" /></a></li>
                  <li><a href="/profile"><img src="http://www.picgifs.com/celebrities/b/brad-pitt/celebrities-brad-pitt-973133.jpg" /></a></li>
                </ul>
              </div>
              <div class="actions">
                <a href="#" class="play"></a>
                <a href="#" class="add"></a>
              </div>
            </div>
          </li>
        </ul>

          END LIST VIEW
        -->
        
      </section>
    </div>
  <% end %>