<% if !authenticated? %>
<body class="tour">
  <div class="container">
    <a class="logo_dark" href="/">Jolicloud</a>
    <section class="intro">
      <h2>Discover music the social way.</h2>
      <p>Find new artists through your friends.</p>
      <%= link_to "Connect with facebook", new_facebook_path, :class => "facebook" %>
    </section>
  </div>
  <% else %>
  <body class="app">
    <header>
      <a class="logo" href="/">Jolicloud</a>
    </header>
    <nav>
      <section>
        <h3 class="lobster">apps</h3>
        <ul>
          <li class="hot active"><a href="#"><span class="icon"></span>What's Hot</a></li>
          <li class="match"><a href="#"><span class="icon"></span>Taste Match</a></li>
          <li class="shuffle"><a href="#"><span class="icon"></span>Shuffle</a></li>
        </ul>
      </section>
      <section>
        <h3 class="lobster">playlists</h3>
        <ul>
          <% @playlists.each do |pl|%>
          <li class="playlist <%='queue' if pl.perm %>"><a href="#"><span class="icon"></span><%= pl.name %></a></li>
          <% end %>
          <li class="playlist add"><a href="#"><span class="icon"></span>Create playlist</a></li>
        </ul>
      </section>
      <section>
        <h3 class="lobster">account</h3>
        <ul>
          <li class="profile"><a href="#"><span class="icon"></span>Profile</a></li>
          <li class="settings"><a href="#"><span class="icon"></span>Settings</a></li>
          <li class="logout">
            <%= link_to content_tag(:span, nil, :class=>'icon') + "Logout", facebook_path, :method => :delete, :class => "logout" %>
          </li>
        </ul>
      </section>
    </nav>

    <div id="right-pane">
      <div id="header-right-container">
        <div id="header-right">
          <div id="player">
            <object width="250" height="40"><param name="movie" value="http://listen.grooveshark.com/songWidget.swf"><param name="wmode" value="window"><param name="allowScriptAccess" value="always"><param name="flashvars" value="hostname=cowbell.grooveshark.com&amp;widgetID=25084676&amp;style=metal&amp;p=0"> <embed src="http://listen.grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&amp;widgetID=25084676&amp;style=metal&amp;p=0" allowscriptaccess="always" wmode="window"></object>
          </div>
          <div class="view-toggle">
            
          </div>
        </div>
      </div>
      <section>
	    <%= render "song/songs", :songs => @songs %>
      </section>
    </div>
  <% end %>