<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>soundbook</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!--<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <link rel="apple-touch-startup-image" href="img/l/splash.png">-->

  <meta http-equiv="cleartype" content="on">

  <meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">
  <%= stylesheet_link_tag    "application" %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<%= yield %>

<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId: "<%= Facebook.config[:client_id] %>",
    cookie: true,
    xfbml: true,
    oauth: true
  });
</script>

<div class="slide-out-div" style="display:none;">
    <a class="handle" href="http://link-for-non-js-users">Content</a>
	<%= render 'party/tokenizer' %>
	<p>
		<label for="amount-tempo">Tempo range:</label>
		<input type="text" id="amount-tempo" style="border:0; color:#f6931f; font-weight:bold;" />
	</p>
	<div id="slider-range-tempo"></div>
	<p>
		<label for="amount-danceability">Danceability range:</label>
		<input type="text" id="amount-danceability" style="border:0; color:#f6931f; font-weight:bold;" />
	</p>
	<div id="slider-range-danceability"></div>
	<p>
		<label for="amount-energy">Energy range:</label>
		<input type="text" id="amount-energy" style="border:0; color:#f6931f; font-weight:bold;" />
	</p>
	<div id="slider-range-energy"></div>
	<p>
		<label for="amount-loudness">Loudness range:</label>
		<input type="text" id="amount-loudness" style="border:0; color:#f6931f; font-weight:bold;" />
	</p>
	<div id="slider-range-loudness"></div>
	
	<button onclick="startParty()" >Start the party</button>
</div>

<input id="view-type" type="hidden" name="view-type" value="grid" />
<!-- can be match or hot or party -->
<input id="content-type" type="hidden" name="content-type" value="hot" />
</body>
</html>
